

.prof { /*This is the profile picture at the top */
    margin: auto;
    display: block;
    max-width: 75%;
}

.column { /*This and .row::after made it possible to format the link icons at the bottom of the screen to external websites*/
    float: left;
    width: 33.33%;
    padding: 15px;
    width: 30px;
    height: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    font-family: 'helvetica';
    font-size: 40px;
    letter-spacing: 2px;
    color: rgba(243, 232, 232, 0.918);
}

h3 {
    font-family: 'helvetica';
    font-size: 50px;
    letter-spacing: 1px;
    padding: -10px 0px 100px 0px line-height: 5cm;
    text-align: center;
    color: rgba(243, 232, 232, 0.918);
}

h4 {
    font-family: 'helvetica';
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px 50px 30px 100px;
    align-content: left;
    line-height: 1cm;
    margin-top: -50px;
    text-align: center;
    color: #606163;
}

.title {
    font-family: 'helvetica';
    font-size: 80px;
    letter-spacing: 6px;
    font-weight: 500px;
    padding: 25px 50px 0px 100px;
    text-align: center;
    color: #04214e;
}

footer {
    font-family: 'helvetica';
    padding: 20px 350px 10px 350px;
    font-weight: 300px;
    text-align: center;
}

p, li, ul, ol { /*All the styling for the two lists as well as the font in paragraphs */
    font-family: 'helvetica';
    line-height: 200%;
    color: #041229;
    font-size: 13px;
}

main { /* All of this padding gives the page a more modern and clean look than having the text go across a large portion
    of the screen.*/
    padding: 90px 350px 20px 350px;
    background-color: rgba(180, 187, 189, 0.719);
    font-family: helvetica;
}

.wrapper {
    width: 3900;
    margin: 25px 50px 25px 100px;
}
